@tailwind preflight;
@tailwind components;
@tailwind utilities;


/* Creates lines for tree */
ul,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree ul {
  margin-left: 10px;
}

ul.tree li {
  margin: 0;
  margin-top: -12px;
  margin-left: 10px;
  padding: 0 36px;
  line-height: 20px;
  border-left: 2px solid black;
}

ul.tree li .node-name {
  top: -1em;
  position: relative;
}

ul.tree li:last-child {
  border-left: none;
}


ul.tree li:before {
  position: relative;
  /* top: 1em; */
  height: 32px;
  width: 30px;
  color: white;
  border-bottom: 2px solid black;
  content: "";
  display: inline-block;
  left: -36px;
}

ul.tree li:last-child:before {
  border-left: 2px solid black;
}


#tree-root {
  margin-left: 0px;
  margin-top: 0;
}

#tree-root {
  margin-left: 0px;
}

#tree-root:before {
  border: 0;
  height: 0;
  content: "";
  display: inline-block;
}

/* _______________ */
